---
http_interactions:
  - request:
      method: get
      uri: http://api.weatherapi.com/v1/forecast.json?key=<API_KEY>&q=Svenborgia
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 400
        message: Bad Request
      headers:
        Content-Type:
          - application/json
        Cdn-Pullzone:
          - "93447"
        Cdn-Uid:
          - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
        Cdn-Requestcountrycode:
          - US
        Cdn-Proxyver:
          - "1.03"
        Cdn-Requestpullsuccess:
          - "True"
        Cdn-Requestpullcode:
          - "400"
        Cdn-Cachedat:
          - 12/08/2022 05:26:45
        Cdn-Edgestorageid:
          - "871"
        Cdn-Status:
          - "400"
        Cdn-Requestid:
          - f152015fc2a70ef567beb36f95f58bd6
        Cdn-Cache:
          - MISS
      body:
        encoding: UTF-8
        string: '{"error":{"code":1006,"message":"No matching location found."}}'
    recorded_at: Thu, 08 Dec 2022 05:26:45 GMT
recorded_with: VCR 6.1.0
