---
http_interactions:
  - request:
      method: get
      uri: http://api.weatherapi.com/v1/forecast.json?key=<API_KEY>&q=Paris,%20France
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Cdn-Pullzone:
          - "93447"
        Cdn-Uid:
          - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
        Cdn-Requestcountrycode:
          - US
        Cdn-Proxyver:
          - "1.03"
        Cdn-Requestpullsuccess:
          - "True"
        Cdn-Requestpullcode:
          - "200"
        Cdn-Cachedat:
          - 12/08/2022 05:21:32
        Cdn-Edgestorageid:
          - "940"
        Cdn-Status:
          - "200"
        Cdn-Requestid:
          - adef3f43fd6e6af1e96f81603defc65f
        Cdn-Cache:
          - MISS
      body:
        encoding: ASCII-8BIT
        string:
          '{"location":{"name":"Paris","region":"Ile-de-France","country":"France","lat":48.87,"lon":2.33,"tz_id":"Europe/Paris","localtime_epoch":1670476892,"localtime":"2022-12-08
          6:21"},"current":{"last_updated_epoch":1670476500,"last_updated":"2022-12-08
          06:15","temp_c":3.0,"temp_f":37.4,"is_day":0,"condition":{"text":"Mist","icon":"//cdn.weatherapi.com/weather/64x64/night/143.png","code":1030},"wind_mph":3.8,"wind_kph":6.1,"wind_degree":240,"wind_dir":"WSW","pressure_mb":1012.0,"pressure_in":29.88,"precip_mm":0.1,"precip_in":0.0,"humidity":93,"cloud":100,"feelslike_c":2.5,"feelslike_f":36.5,"vis_km":4.8,"vis_miles":2.0,"uv":1.0,"gust_mph":0.9,"gust_kph":1.4},"forecast":{"forecastday":[{"date":"2022-12-08","date_epoch":1670457600,"day":{"maxtemp_c":4.7,"maxtemp_f":40.5,"mintemp_c":1.9,"mintemp_f":35.4,"avgtemp_c":3.8,"avgtemp_f":38.8,"maxwind_mph":5.4,"maxwind_kph":8.6,"totalprecip_mm":0.5,"totalprecip_in":0.02,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":78.0,"daily_will_it_rain":1,"daily_chance_of_rain":89,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Patchy
          rain possible","icon":"//cdn.weatherapi.com/weather/64x64/day/176.png","code":1063},"uv":1.0},"astro":{"sunrise":"08:31
          AM","sunset":"04:54 PM","moonrise":"04:47 PM","moonset":"09:03 AM","moon_phase":"Full
          Moon","moon_illumination":"100"},"hour":[{"time_epoch":1670454000,"time":"2022-12-08
          00:00","temp_c":4.7,"temp_f":40.5,"is_day":0,"condition":{"text":"Overcast","icon":"//cdn.weatherapi.com/weather/64x64/night/122.png","code":1009},"wind_mph":1.8,"wind_kph":2.9,"wind_degree":346,"wind_dir":"NNW","pressure_mb":1016.0,"pressure_in":29.99,"precip_mm":0.0,"precip_in":0.0,"humidity":82,"cloud":100,"feelslike_c":4.7,"feelslike_f":40.5,"windchill_c":4.7,"windchill_f":40.5,"heatindex_c":4.7,"heatindex_f":40.5,"dewpoint_c":1.9,"dewpoint_f":35.4,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":2.5,"gust_kph":4.0,"uv":1.0},{"time_epoch":1670457600,"time":"2022-12-08
          01:00","temp_c":4.6,"temp_f":40.3,"is_day":0,"condition":{"text":"Overcast","icon":"//cdn.weatherapi.com/weather/64x64/night/122.png","code":1009},"wind_mph":2.0,"wind_kph":3.2,"wind_degree":340,"wind_dir":"NNW","pressure_mb":1015.0,"pressure_in":29.97,"precip_mm":0.0,"precip_in":0.0,"humidity":83,"cloud":100,"feelslike_c":4.5,"feelslike_f":40.1,"windchill_c":4.5,"windchi[...]
