---
http_interactions:
  - request:
      method: get
      uri: http://api.weatherapi.com/v1/forecast.json?key=<API_KEY>&q=90210
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Cdn-Pullzone:
          - "93447"
        Cdn-Uid:
          - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
        Cdn-Requestcountrycode:
          - US
        Cdn-Proxyver:
          - "1.03"
        Cdn-Requestpullsuccess:
          - "True"
        Cdn-Requestpullcode:
          - "200"
        Cdn-Cachedat:
          - 12/08/2022 05:21:31
        Cdn-Edgestorageid:
          - "941"
        Cdn-Status:
          - "200"
        Cdn-Requestid:
          - 9539275b5541e44d8213dbc65f4d25aa
        Cdn-Cache:
          - MISS
      body:
        encoding: ASCII-8BIT
        string:
          '{"location":{"name":"Beverly Hills","region":"California","country":"USA","lat":34.09,"lon":-118.41,"tz_id":"America/Los_Angeles","localtime_epoch":1670476891,"localtime":"2022-12-07
          21:21"},"current":{"last_updated_epoch":1670476500,"last_updated":"2022-12-07
          21:15","temp_c":12.8,"temp_f":55.0,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":2.2,"wind_kph":3.6,"wind_degree":10,"wind_dir":"N","pressure_mb":1025.0,"pressure_in":30.26,"precip_mm":0.0,"precip_in":0.0,"humidity":66,"cloud":0,"feelslike_c":12.6,"feelslike_f":54.7,"vis_km":16.0,"vis_miles":9.0,"uv":1.0,"gust_mph":5.4,"gust_kph":8.6},"forecast":{"forecastday":[{"date":"2022-12-07","date_epoch":1670371200,"day":{"maxtemp_c":15.3,"maxtemp_f":59.5,"mintemp_c":10.6,"mintemp_f":51.1,"avgtemp_c":12.8,"avgtemp_f":55.1,"maxwind_mph":8.9,"maxwind_kph":14.4,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":77.0,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":4.0},"astro":{"sunrise":"06:46
          AM","sunset":"04:44 PM","moonrise":"04:23 PM","moonset":"06:25 AM","moon_phase":"Waxing
          Gibbous","moon_illumination":"94"},"hour":[{"time_epoch":1670400000,"time":"2022-12-07
          00:00","temp_c":11.0,"temp_f":51.8,"is_day":0,"condition":{"text":"Mist","icon":"//cdn.weatherapi.com/weather/64x64/night/143.png","code":1030},"wind_mph":4.9,"wind_kph":7.9,"wind_degree":290,"wind_dir":"WNW","pressure_mb":1019.0,"pressure_in":30.1,"precip_mm":0.0,"precip_in":0.0,"humidity":96,"cloud":100,"feelslike_c":11.3,"feelslike_f":52.3,"windchill_c":11.3,"windchill_f":52.3,"heatindex_c":11.0,"heatindex_f":51.8,"dewpoint_c":10.4,"dewpoint_f":50.7,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":6.9,"gust_kph":11.2,"uv":1.0},{"time_epoch":1670403600,"time":"2022-12-07
          01:00","temp_c":11.1,"temp_f":52.0,"is_day":0,"condition":{"text":"Mist","icon":"//cdn.weatherapi.com/weather/64x64/night/143.png","code":1030},"wind_mph":4.5,"wind_kph":7.2,"wind_degree":298,"wind_dir":"WNW","pressure_mb":1020.0,"pressure_in":30.11,"precip_mm":0.0,"precip_in":0.0,"humidity":96,"cloud":100,"feelslike_c":11.2,"feelslike_f":52.2,"windchill_c":11.2,"windchi[...]
